body {
background-color: #637E6E;
display: flex;
justify-content: center;
}

h1, h2, p, ul, a {
font-family: sans-serif;
color: #242E28;
text-align: center;
}

a {
  font-weight: bold;
}

ul {
text-align: left;
}

.header {
list-style: none;
background-color: #F4F6F5;
width: 80%;
display: flex;
flex-direction: column;
justify-content: space-around;
padding-left: 0;
margin: 0 auto;
padding: 3%;
margin-top: 2%;
margin-bottom: 5%;
/* box-shadow: 15px 10px 15px #C6D2CB; */
border-radius: 5px;
}

.li {
margin: 0; 
color: #242E28;
text-align: center;
margin-top: 2%;
margin-bottom: 5%;

}

.content {
background-color: #F4F6F5;
width: 80%;
margin: 0 auto;
padding: 3%;
border-radius: 5px;

} 

.name {
background-color: #F4F6F5;
width: 80%;
margin: 0 auto;
padding: 3%;
border-radius: 5px;
margin-bottom: 5%;

}

.image {
display: flex;
margin-top: 2%;
margin-bottom: 5%;

}

.Adrienne {
border-radius: 50%;
width: 50%;
margin: 0 auto;
}

.contact_parts {
display: flex;
justify-content: space-around;
}

.social_logo {
  border-radius: 100%;
  width: 50px;
  height: auto;
}

.doodlesRow{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex: auto; */
}

.doodlesCol1 {
  display: flex;
  width: 30%;
  align-content: flex-start;
}

.doodlesCol2 {
  display: flex;
  /* align-content: center; */
  min-width: 70%;
  max-width: 70%;
  border: solid 8px #637E6E;
  border-radius: 5px;
  height: 400px;
  min-width: 80%;
  text-align: left;

}

.doodleButton {
  border: 0px;
  background: #F4F6F5;
}

.logoSmallScreen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 5%;
}

.logoLargeScreen {
  visibility: hidden;
  display: none;

}

@media only screen and (min-width: 600px) {
  .header {
    list-style: none;
    background-color: #F4F6F5;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    margin: 0 auto;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 5%;
    /* box-shadow: 15px 10px 15px #C6D2CB; */
    border-radius: 5px;
    }

  .Adrienne {
      border-radius: 50%;
      width: 30%;
      margin: 0 auto;
    }

  .social_logo {
      border-radius: 100%;
      width: 80px;
      height: auto;
    }

  .doodlesRow{
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: row;
    }

  .doodlesCol1 {
      align-content: center;
    }

  .doodlesCol2 {
      max-width: 400px;
      min-width: 400px;
    }

    .logoSmallScreen {
      margin-top: 0 auto;
    }

    .logoLargeScreen {
      visibility: hidden;
      display: none;
    }

}

@media only screen and (min-width: 1200px) {

.flexContainer {
display: flex;
margin-top: 10%;
}
.col1 {
width: 30%;
height: 100%;
}

.col2 {
width: 60%;
}

.Adrienne {
width: 65%;
}

.homeSummary {
max-width: 80%;
}

.social_logo {
padding: 50px;
}

.homeSummary {
margin: auto;
}

.flexContainer {
  width: 1200px;
}

.name {
  width: 60%;
  }

.doodlesRow{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.doodlesCol2 {
  max-width: 400px;
  min-width: 400px;
}
  .logoSmallScreen {
    visibility: hidden;
    display: none;
  }

  .logoLargeScreen {
    width: 40%;
    visibility: visible;
    display: block;
    margin: 0 auto;
    bottom: 0px;
    padding: 3%;
    margin-bottom: 5%;
  }

}