body {
    background-color: #fbf5f3;
    display: flex;
    justify-content: center;
}

  h1, h2, p, ul, a {
    font-family: sans-serif;
    color: #000022;
    text-align: center;
  }
  /* ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #c42847;
    padding: 0;
    top: 0;
    position: fixed;
    width: 60%; */
  /* } */


  /* ul.header li a {
    color: #000022;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  } */

  .header {
    background-color: #c42847;
    width: 80%;
    /* position: fixed; */
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 5%;
    /* box-shadow: 15px 10px 15px #ba4159; */
    border-radius: 5px;

  }

  .li {
    margin: 0; 
    color: #000022;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;

  }

  .content {
    background-color: #f2b469;
    width: 80%;
    margin: 0 auto;
    padding: 3%;
    border-radius: 5px;
  } 

  .image {
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .Adrienne {
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
  }

  @media only screen and (min-width: 600px) {
    .Adrienne {
        border-radius: 50%;
        width: 30%;
        margin: 0 auto;
    }
  }